---
import TailwindCSSIcon from "./icons/TailwindCSS.astro";
import HtmlIcon from "./icons/Html.astro";
import JavaScriptIcon from "./icons/JavaScript.astro";

const TAGS = {
    TAILWIND: {
        name: "TailwindCSS.js",
        class: "bg-[#003159] text-white ",
        icon: TailwindCSSIcon,
    },
    HTML: {
        name: "HTML",
        class: "bg-[#E34F26] text-white",
        icon: HtmlIcon,
    },
    JS: {
        name: "JavaScript",
        class: "bg-[#E5D150] text-white",
        icon: JavaScriptIcon,
    },
};

const PROJECTS = [
    {
        title: "Tesla Landing",
        description: "Tesla Landing - Recreando la Página de Inicio de Tesla.",
        link: "https://proyecto-landing-tesla.netlify.app",
        github: "https://github.com/JesusJham/Proyecto-Landing-Tesla",
        image: "/projects/teslaProject.webp",
        tags: [TAGS.TAILWIND, TAGS.HTML, TAGS.JS],
    },
];
---

{
    PROJECTS.map(({ image, title, description, tags }) => (
        <article>
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul class="flex gap-x-2 flex-row mb-2">
                {tags.map((tag) => (
                    <li>
                        <span
                            class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
                        >
                            <tag.icon class="size-4" />
                            {tag.name}
                        </span>
                    </li>
                ))}
            </ul>
            <img
                class="rounded shadow-2xl shadow-white/10"
                src={image}
                alt={`Captura de pantalla del proyecto ${image}`}
            />
        </article>
    ))
}
